.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/simple-git/**
!node_modules/@kwsites/**
!node_modules/debug/**
!node_modules/ms/**
.env
.env.*
pnpm-lock.yaml
.pnpm-debug.log*
**/.git/**
.github/**
docs/**
examples/**
tests/**
test/**
spec/**
*.test.*
*.spec.*
**/*.md
!README.md
!CHANGELOG.md
!LICENSE*
